/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
h2 {
  color: black;
}

.template-list {
  border-color: red;
  border-style: solid;
  display: flex;
}

.template-card {
  height: 200px;
  width: 200px;
  border-color: black;
  border-style: solid;
}

.template {
  margin: auto;
  width: 50%;
  border-color: black;
  border-style: solid;
}

.btn-submit-template {
  background-color: red;
}